@use '../../../shared/styles/variables' as *;
@use '../../../shared/styles/mixins' as *;

.home-page {
  @include card;
  @include fade-in;
  padding: $spacing-xl;
}

.home-button {
  @include hover-scale;
  min-width: 200px;
}

