@import '../../../shared/styles/variables';
@import '../../../shared/styles/mixins';

.rewards-container {
  @include card;
  padding: $spacing-lg;
}

.reward-item {
  @include card;
  margin-bottom: $spacing-md;
  padding: $spacing-md;
}

.connect-wallet-button {
  @include hover-scale;
}

