@use '../../../../shared/styles/variables' as *;
@use '../../../../shared/styles/mixins' as *;

.student-dashboard {
  @include fade-in;
}

.dashboard-section {
  @include card;
  padding: $spacing-lg;
}

