@use '../../../shared/styles/variables' as *;
@use '../../../shared/styles/mixins' as *;

.event-list {
  margin-top: $spacing-md;
}

.event-card {
  @include card;
  @include hover-scale;
  height: 100%;
  
  &:hover {
    box-shadow: $shadow-lg;
  }
}

